In [5]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [13]:
df=pd.read_csv('../Data/basic_dataset.csv')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              500 non-null    int64
 1   Income_k$        500 non-null    int64
 2   Education_Level  500 non-null    int64
 3   Spending_Score   500 non-null    float64
 4   Purchased        500 non-null    int64
 5   Customer_Type    500 non-null    object
dtypes: float64(1), int64(4), object(1)
memory usage: 23.6+ KB

In [8]:
df.head()

   Age  Income_k$  Education_Level  Spending_Score  Purchased Customer_Type
0   56         56                1       77.218532          0             B
1   46         31                1       58.605438          1             B
2   32         74                1       69.175872          1             B
3   25         32                0       18.430414          0             C
4   38         42                1       49.654097          1             C

In [14]:
df.Customer_Type.value_counts()

Customer_Type
B    154
A    104
Name: count, dtype: int64